@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Monsterrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: "Monsterrat";
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url("/fonts/Montserrat-Italic-VariableFont_wght.ttf");
  }
}

@theme {
  --font-sans: Monsterrat, sans-serif;
  --spacing-safe-l: env(safe-area-inset-left);
  --spacing-safe-r: env(safe-area-inset-right);
  --spacing-safe-t: env(safe-area-inset-top);
  --spacing-safe-b: env(safe-area-inset-bottom);
}

:root {
  --toastify-toast-padding: 0px;
  --toastify-toast-width: fit-content;
  --toastify-toast-height: fit-content;
  --toastify-toast-min-height: 0px;
}

body {
  font-weight: 650;

  font-size: 1.5rem;
  line-height: 2rem;

  color: white;
  background: linear-gradient(to bottom, #60a5fa 70%, #3b82f6 100%);
}

html,
body {
  overscroll-behavior: none;
}
