---

---

<h1>Astro</h1>

<script>
    const socket = new WebSocket("ws://localhost:8080");

    socket.onopen = () => {
        console.log("WebSocket connection established");
        socket.send("Hello Server!");
    };

    socket.onclose = () => {
        console.log("closed");

    }
</script>
